/* styles.css */
.game-container {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.paddle {
    width: 20px;
    height: 100px;
    background-color: #000;
    position: absolute;
}

#left-paddle {
    left: 0;
}

#right-paddle {
    right: 0;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
}
